.dark_mode {
  --primary: #ff274b;
  --socondry: #f7bcf7;
  --bg1: #171a1c;
  --bg2: #22282a;
  --padd: 5%;
  --light: #fff;
  --fontjs: "Josefin Sans", system-ui;
  --fontos: "Oswald", system-ui;
  --fontds: "Dancing Script", system-ui;
  --fontss: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: #ff274b;
  --socondry: #a87c7c;
  --bg1: #FEFAF6;
  --bg2: #d8d2c2;
  --padd: 5%;
  --light: #503c3c;
  --fontjs: "Josefin Sans", system-ui;
  --fontos: "Oswald", system-ui;
  --fontds: "Dancing Script", system-ui;
  --fontss: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
  z-index: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5mm;
  width: 100%;
  background-color: var(--primary);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5mm;
  margin-block: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg1);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fontjs);
  color: var(--light);
  box-sizing: border-box;
  transition: 0.4s;
}

::selection {
  background-color: var(--primary);
  color: var(--socondry);
  -webkit-text-fill-color: #fff;
}

/* ///////////////////////////////////////////////// */

p {
  color: var(--socondry);
  line-height: 1.8rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.37rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.btn:active {
  scale: 0.6;
}

span {
  color: var(--primary);
}

h2 {
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--fontds);
  text-transform: capitalize;
}

h1 {
  font-size: 4.65rem;
  font-family: var(--fontjs);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  color: var(--socondry);
  letter-spacing: 0.12rem;
  font-family: var(--fontds);
}

h1:not(.home h1) {
  font-family: var(--fontds);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.skills h1 span:last-child {
  font-size: 13px;
}

h1 span:not(.home h1 span) {
  font-family: var(--fontds);
}

nav.when{
  background-color: #171a1c70 ;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  backdrop-filter: blur(10px);
}

nav.when::after{
  display: none;
}

/* //////////////////////////////////////////////////////// */

.home {
  background-color: var(--bg1);
  width: 100%;
  height: 100vh;
  padding: 60px var(--padd);
  display: flex;
}

.about {
  background-color: var(--bg2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px var(--padd);
}

.ser {
  background-color: var(--bg1);
  padding: 60px var(--padd);
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.skills {
  background-color: var(--bg2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--padd);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px var(--padd);
  text-align: center;
}

/* ////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 0;
  right: 2%;
  left: 2%;
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 47.6px;
}

nav::after {
  top: 100%;
  border-radius: 10mm;
  left: 0;
  right: 0;
  content: "";
  background-color: gray;
  width: 100%;
  height: 4px;
  position: absolute;
}

.logo {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--fontss);
}

.logo span {
  font-weight: 300;
  color: var(--primary);
}
nav .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  width: 490px;
  height: 100%;
}

nav .links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .links li a {
  text-decoration: none;
  position: relative;
  width: 100%;
}

nav .links li .a::before {
  position: absolute;
  top: 100%;
  left: 0;
  background-image: linear-gradient(to left, #f7bcf7, #ff274b, #deae14);
  height: 1.5px;
  border-radius: 5mm;
  width: 0;
  content: "";
  transition: 0.4s;
}

.no svg:last-child {
  display: none;
}

.dark_mode .no svg:first-child {
  display: none;
}

.dark_mode .no svg:last-child {
  display: block;
}


.no:hover {
  background: #f0f0f00f;
}

.no {
  border: 0;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}

nav .links li a:hover:before {
  width: 100%;
}

.btn:hover i {
  rotate: 360deg;
}

.btn {
  background-color: var(--primary);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  transition: 0.4s;
  border: 2px solid transparent;
  width: fit-content;
  position: relative;
  display: inline-block;
}

nav .btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  translate: -15px 0;
}

.content .btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
  translate: 15px 0;
  scale: 1.1;
}

.content .container-texts {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.social{
  width: 120px;
  height: 0px;
  background-color: #a87c7c;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  display: flex;
  padding-left: 10px;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  text-transform: capitalize;
  
}

.container-images {
  width: 50%;
}

.container-images img {
  width: 100%;
}

/* //////////////////////////////////////////////////////////// */

.about .container-texts {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about .container-images {
  width: 40%;
}

/* ////////////////////////////////////////////////////////// */

.center {
  text-align: center;
}

.box {
  display: flex;

  justify-content: unset;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 300px;
  border-radius: 20px;
  background-color: var(--bg2);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding: 1.3rem 2rem;
}

.card i {
  font-size: 3.12rem;
  color: var(--primary);
  margin: 2rem;
}

/* /////////////////////////////////////////////////////////// */

.skills .container-skills {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.skills .container-images {
  width: 45%;
}

.content-skills {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img {
  width: 70%;
}

/* //////////////////////////////////////////////////////////////////////// */
.content-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.end {
  color: var(--primary);
}

.end i {
  font-size: 12px;
  color: var(--socondry);
}

/* /////////////////////////////////////////////////////////////////////// MENUS */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.social.shows{
  height: 120px;
  z-index: 1000000;
}

.menu .a2{
  display: flex;
  gap: 10px;
  cursor: pointer;
  
}

.menu .a2 i{
  font-size: 13px;
  color: var(--primary);
}




/* //// */
.drop {
  width: 300px;
  height: 0px;
  background-color: #d1c8ae;
  backdrop-filter: blur(10px);
  padding: 0px;
  border-radius: 15px;
  position: fixed;
  top: 60px;
  overflow: hidden;
  z-index: 1000;
  right: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 1px 1px 5px #ffffff01;
  transition: 0.4s;
}

.drop ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.drop a {
  background-color: var(--primary);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  transition: 0.4s;
  width: 200px;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.drop ul li::after {
  content: attr(s);
  position: absolute;
  top: 5%;
  left: 50%;
  font-family: "Oswald", system-ui;
  translate: -50% -10%;
  font-size: 60px;
  letter-spacing: 80px;
  font-weight: 900;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
}

.drop ul li:hover:after {
  opacity: 0.5;
  z-index: -1;
  letter-spacing: 3px;
}

.drop ul:hover li a {
  opacity: 0;
}

.drop ul li a:hover {
  scale: 1.2;
  background-color: #ffffff60;
  opacity: 0.7;
}

.drop ul li::before {
  content: " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab at repellat.";
  position: absolute;
  top: 50%;
  left: -30%;
  translate: -50% -50%;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  width: 50%;
  color: #fff;
  font-family: "Dancing Script", system-ui;
}

.drop ul li:hover::before {
  opacity: 0.5;
  z-index: -1;
  letter-spacing: normal;
  left: 30%;
}

.drop.be {
  height: 300px;
  padding: 15px;
}

b {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bars {
  width: 1.3rem;
  height: 2.5px;
  border-radius: 40px;
  background-color: var(--primary);
  transition: 0.4s;
  position: relative;
  display: block;
  direction: rtl;
}

.bars::after,
.bars::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--primary);
  transition: 0.5s;
  display: block;
  border-radius: 40px;
}

.bars::before {
  transform: translateY(-7px);
  width: 0.9rem;
  /* background-color: #DEAE14; */
}

.bars::after {
  transform: translateY(7px);
  width: 1.1rem;
  /* background-color: #f7bcf7; */
}

b.be1 .bars {
  rotate: 360deg;
  background: transparent;
}

b.be1 .bars::before {
  transform: translateY(0) rotate(45deg);
}

b.be1 .bars::after {
  transform: translateY(0) rotate(-45deg);
}

b.be1 .bars::after,
b.be1 .bars::before {
  width: 1.3rem;
  background: red;
}

b:hover .bars::after,
b:hover .bars::before,
b:hover .bars {
  width: 1.3rem;
}

.menu b{
  display: none;
}

.drop {
  display: none;
}

/* //////////////////////////////////////////////////////////////////////SCROLL */

.scroll {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  position: fixed;
  bottom: -30%;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.7s;
}

.scroll i {
  color: #deae14;
  font-size: 25px;
}


  footer {
    background: url(image/circle-scatter-haikei_.svg) no-repeat center / cover;
  }
/* ///////////////////////////////////////////////////////// */

@media screen and (max-width: 800px) {
  .container-images {
    display: none;
  }

  .skill {
    width: 70px;
    height: 70px;
  }
  .home {
    background: url(image/circle-scatter-haikei_.svg) no-repeat center / cover;
    background-size: cover;
  }

  .about .container-texts {
    width: 100%;
  }

  .drop {
    display: flex;
  }

  .box {
    justify-content: unset;
    gap: 10px;
  }

  .card {
    flex-grow: 1;
  }

  .skills .container-skills {
    width: 100%;
  }

  .content-skills {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  nav .links .a,nav .btn{
    display: none;
  }

   .content .social{
  display: none;
  }


  b  {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  .inf,
  .drop {
    left: 15px;
    width: unset;
  }
}

@media (min-height: 600px) {
  .content .container-texts {
    gap: 35px;
  }
}

@media (max-height: 600px) {
  .content .container-texts {
    gap: 35px;
  }

  .social  ,.content h4 ,.home .container-images {
    display: none;
  }

  .drop.be {
    bottom: 15px;
    height: unset;
  }

  .home {
    background: url(image/circle-scatter-haikei_.svg) no-repeat center / cover;
    background-size: cover;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
